<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🚀 AI Resume Analyzer</h1>

    <div class="top-buttons">
        <button onclick="toggleDark()">🌙 Dark Mode</button>
        <button onclick="window.print()">📄 Download Report</button>
    </div>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="resume" required>
        <br><br>
        <button type="submit">Upload Resume</button>
    </form>

    {% if text %}

    <div class="section">
        <h3>📄 Extracted Text</h3>
        <p>{{ text }}</p>
    </div>

    <div class="section">
        <h3>🧠 Detected Skills</h3>
        {% for skill in skills %}
            <span class="skill">{{ skill }}</span>
        {% endfor %}
    </div>

    <div class="section">
        <h3>📊 Skill Match Score</h3>

        <div class="progress-bar">
            <div class="progress" style="width: {{ score }}%"></div>
        </div>

        <p><strong>{{ score }}%</strong></p>
    </div>

    <div class="section">
        <h3>🎯 Suggested Job Role</h3>
        <p><strong>{{ role }}</strong></p>
    </div>

    {% endif %}

    <footer>
        Made by Prasad 🚀
    </footer>

</div>

<script>
function toggleDark() {
    document.body.classList.toggle("dark");
}
</script>

</body>
</html>